<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handytune">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/music_note"
        android:label="@string/app_name"
        android:roundIcon="@drawable/music_note"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="callback"
                    android:scheme="handytune"/>
            </intent-filter>
        </activity>
        <activity android:name=".SpotifyUserActivity"
            android:label="@string/search_user_title">
        </activity>
        <activity android:name=".SearchActivity"
            android:label="@string/find_music">
        </activity>
        <activity android:name=".PlaylistActivity"
            android:label="@string/playlist">
        </activity>
        <activity android:name=".ResultActivity">
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ShowTrackFromPlaylistActivity" />
    </application>

</manifest>